script(type='text/ng-template', id='SubmissionStatusTemplate')
    .submissionStatus(ng-controller="SubmissionStatusController", ng-show="project.show_submission_status")
        .error(ng-show="project.submission_error")
            a.resubmit(href, ng-click="confirmSubmission(true)")
                span.glyphicon.glyphicon-send(aria-hidden="true", aria-label="#{translate('submission_resubmit')}", title="#{translate('submission_resubmit')}")
            span.glyphicon.glyphicon-ban-circle(aria-hidden="true", aria-label="#{translate('submission_error')}", title="{{project.submission_error}}")

        .submit(ng-show="project.submittable")
            a.submit(href, ng-click="confirmSubmission()")
                span.glyphicon.glyphicon-send(aria-hidden="true", aria-label="#{translate('submission_submit')}", title="#{translate('submission_submit')}")

        .pending(ng-show="project.submission_pending")
            span.glyphicon.glyphicon-refresh(aria-hidden="true", aria-label="#{translate('submission_pending')}", title="#{translate('submission_pending')}")
            span.submission-status {{ project.submission_status }}

        .submitted(ng-show="project.submitted")
            span.glyphicon.glyphicon-ok-circle(ng-hide="project.submission_url" aria-hidden="true", aria-label="#{translate('submission_ready')}", title="#{translate('submission_ready')}")
            a(ng-show="project.submission_url" href="{{project.submission_url}}", target="_blank")
                span.glyphicon.glyphicon-new-window(aria-hidden="true", aria-label="#{translate('submission_finalize')}", title="#{translate('submission_finalize')}")

        .finalized(ng-show="project.finalized")
            span.glyphicon.glyphicon-ok-circle(aria-hidden="true", aria-label="#{translate('submission_submitted')}", title="#{translate('submission_submitted')}")

        .cancelled(ng-show="project.cancelled")
            a.resubmit(href, ng-click="confirmSubmission(true)")
                span.glyphicon.glyphicon-send(aria-hidden="true", aria-label="#{translate('submission_resubmit')}", title="#{translate('submission_resubmit')}")
            span.glyphicon.glyphicon-exclamation-sign(aria-hidden="true", aria-label="#{translate('submission_cancelled')}", title="#{translate('submission_cancelled')}")

script(type='text/ng-template', id='submissionReadyModalTemplate')
    .modal-header
        button.close(
        type="button"
        data-dismiss="modal"
        ng-click="cancel()"
        ) &times;
        h3 #{translate("submission_ready")}
    .modal-body
        p #{translate("submission_congratulations", {title:"{{project_title}}"})}
        p.alert.alert-warning.
            Please note that in the current release of the Writing Studio, subsequent versions of your article
            have to be saved as a PDF and uploaded manually in the
            #[a.alert-link(href="https://mms-aanda.obspm.fr/is/aa/") A&A Manuscript Management System] (MMS).
    .modal-footer
        button.btn.btn-info(ng-click="finalize()") #{translate("submission_finalize")}
        button.btn.btn-default(ng-click="cancel()") #{translate("close")}

script(type='text/ng-template', id='submissionConfirmModalTemplate')
    .modal-header
        button.close(type="button", data-dismiss="modal", ng-click="cancel()") &times;
        h3 #{translate("submission_confirm")}
    .modal-body
        p #{translate("submission_are_you_sure", {title:"{{project_title}}"})}
    .modal-footer
        button.btn.btn-info(ng-click="confirm()") #{translate("ok")}
        button.btn.btn-default(ng-click="cancel()") #{translate("cancel")}
