extends ../layout

block content
    .content
        .container
            .row
                .col-md-8.col-md-offset-2
                    .page-header
                        h1 Help on submission

                    p.
                        Using Writing Studio you can start the submission process to the
                        Astronomy & Astrophysics journal directly from the project list. This feature
                        helps the authors by packaging the required versions of their paper and gathering some
                        metadata to pre-fill several fields of the submission form.
                    p.
                        Be aware that only the owner of a project is able to submit it to the journal
                        from Writing Studio. Therefore, you should make sure that the corresponding author
                        is the owner of the Writing Studio project.
                    p.alert.alert-warning.
                        Your article may be submitted through Writing Studio.
                        Please note that in the current release of Writing Studio,
                        revised versions of your manuscript should be uploaded in the usual way, i.e. manually in the
                        #[a.alert-link(href="https://mms-aanda.obspm.fr/is/aa/") A&A Manuscript Management System] (MMS).
                    p.
                        The submission state column in the project list provides the user with some helpful icons
                        to describe the different states of the submission process.
                        Below is a description of each icon:

                    ul.list-unstyled.submissionStatus
                        li.container-fluid
                            .row
                                .col-xs-4
                                    a(href="#")
                                        span.glyphicon.glyphicon-send(aria-hidden="true", aria-label="#{translate('submission_submit')}", title="#{translate('submission_submit')}")
                                .col-xs-6
                                    p.
                                        This project can be submitted to the journal.
                                        You can start the process by pressing the #[em send] icon.
                        li.container-fluid
                            .row
                                .col-xs-4
                                    span.glyphicon.glyphicon-refresh(aria-hidden="true", aria-label="#{translate('submission_pending')}", title="#{translate('submission_pending')}")
                                    i.submission-status processing step
                                .col-xs-6
                                    p.
                                        This project is being prepared for submission.
                                        At this point, the different PDF versions of the article are being
                                        compiled and packaged for the submission process.
                        li.container-fluid
                            .row
                                .col-xs-4
                                    a(href="#")
                                        span.glyphicon.glyphicon-new-window(aria-hidden="true", aria-label="#{translate('submission_finalize')}", title="#{translate('submission_finalize')}")
                                .col-xs-6
                                    p.
                                        The submission has been prepared and needs to be finalized
                                        on the submission website.
                                        You can proceed by clicking on the arrow.
                        li.container-fluid
                            .row
                                .col-xs-4
                                    span.glyphicon.glyphicon-ok-circle(aria-hidden="true", aria-label="#{translate('submission_submitted')}", title="#{translate('submission_submitted')}")
                                .col-xs-6
                                    p.
                                        Congratulations ! The submission has been finalized.
                                        Your article will be processed by the submission board.
                        li.container-fluid
                            .row
                                .col-xs-4
                                    a(href="#")
                                        span.glyphicon.glyphicon-send(aria-hidden="true", aria-label="#{translate('submission_resubmit')}", title="#{translate('submission_resubmit')}")
                                    span.glyphicon.glyphicon-exclamation-sign(aria-hidden="true", aria-label="#{translate('submission_cancelled')}", title="#{translate('submission_cancelled')}")
                                .col-xs-6
                                    p.
                                        You cancelled your submission on the submission website.
                                        When you are ready to proceed with another submission, you can click on the #[em send] icon.
                        li.container-fluid
                            .row
                                .col-xs-4
                                    a(href="#")
                                        span.glyphicon.glyphicon-send(aria-hidden="true", aria-label="#{translate('submission_resubmit')}", title="#{translate('submission_resubmit')}")
                                    span.glyphicon.glyphicon-ban-circle(aria-hidden="true", aria-label="#{translate('submission_error')}", title="Submission error described here")
                                .col-xs-6
                                    p.
                                        There was an error during the last submission process.
                                        You may retry by clicking on the #[em send] icon.

